<mat-list>
    @for (task of tasks(); track task.id) {
      <mat-list-item class="task-item">
        <mat-checkbox
          [checked]="task.completed"
          (change)="toggleCompleted(task, $event.checked)"
        >
          {{ task.title }}
        </mat-checkbox>
          <button mat-raised-button color="warn" (click)="deleteTask(task.id)">Delete</button>
       
      </mat-list-item>
    }
    @empty {
      <mat-list-item>
        No tasks available.
      </mat-list-item>
    }
  </mat-list>